html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Nunito';
  line-height: 1.6;
  font-size: 18px;
  background: linear-gradient(180deg, #1E1E1E 100%, #563ADC 100%) ;
  position: relative;
}

p, h1, h2, li {
  color: #ffffff;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
