.main {

}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.stack {
  max-width: 1000px;
  padding-left: 100px;
  padding-right: 100px;
}

.description {
  font-size: 20px;
}

.center h1 {
  padding: 50px;
}
.description h1 {
  padding-top: 50px;
}
.description p {
  color: #eeeeee;
}

.logo {
  min-width: 200px;
  max-width: 600px;
  padding-top: 100px;
}

.bio {
  max-width: 225px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.bio2 {
  padding: 30px;
}
@media only screen and (min-width: 1001px) {
  .bio2 h2 {
    padding-left: 25px;
  }
}

.portrait {
  object-fit: cover;
  /* border-radius: 9999px; */
  border: 5px solid #efefef;
  box-shadow: 5px 5px 5px 5px rgba(20,20,20,0.2);
  max-width: 225px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .adaptive {
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
@media only screen and (min-width: 1001px) {
  .adaptive {
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
  }
}


.navbar {
  display: flex;
  background-color: #1E1E1E;
  width: 100%;
  height: 120px;
  top: 0px;
  z-index: 1;
  padding-left: 15px;
  padding-top: 15px;
}

.navlogo {
  max-width: 100px;
  display: flex; 
  justify-content: left;
  padding: 15px;
}

.navlogo img {
  max-height: 60px;
}

.navright {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 40px;
}
.navright > * {
  padding-right: 10px;
}

.navright p {
  padding-left: 20px;
}

.navright p {
  font-size: 20px;
}